  #nev a
      {
        position: absolute;
        left: -35px;
        transition: 0.3s;
        padding: 10px;
        width: 30px;
        height: 100px;
        text-decoration: none;
        text-size: 20px;
        color: #150c1a;
        text-align: center;
        writing-mode: vertical-rl;
        text-orientation: sideways;
      }
      #nev a:hover
      {
        left: 0px;
      }
      #home
      {
        top: 20px;
        background: #c5d9cc;
      }
      #abou
      {
        top: 145px;
        background: #c5d9cc;
      }
      #cont
      {
        top: 270px;
        background: #c5d9cc;
      }
      #log
      {
        top: 395px;
        background: #c5d9cc;
      }